* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}
body{
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content{
    border: 2px solid black;
    height: 500px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}