@mixin flex-h-center-spaceB {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-center-all{
    display: flex;
    align-items: center;
    justify-content: center;
}