.primary-btn{
    // background:var(--primary-color )!important;
    padding: 10px 20px 10px 20px !important;
    box-shadow: none !important;

}

.secondary-btn{
    box-shadow: none !important;
    background: transparent !important;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
    padding: 10px 20px 10px 20px !important;
}