.forgotPassword{

    @include flex-center-all;

    &__form{
        border-radius: 5px;
        border: 1px solid $primary-color;
        overflow: hidden;
        width: 30%;
        height: 200px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}