.navbar{
    border-bottom: 0.1px solid var(--primary-color);
    height: 100%;
    @include flex-h-center-spaceB;

}

.title{
    font-size: max(35px, 1.5vw);
    font-weight: bolder;
    margin: 0 10px 0 10px;
    // background: linear-gradient(to right, $primary-color, $secondary-color);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    color: var(--primary-color);
    cursor: pointer;
}

.options{
    @include flex-h-center-spaceB;
    height: 100%;
}

.option{
    @include flex-h-center-spaceB;
    
    height: 70%;
    color: var(--primary-color);
    margin: 0 10px 0 10px;
    padding: 0 15px 0 15px;
    font-size: max(18px, 1vw );
    font-weight: 1;
    border-radius: 4px;
    background: transparent;
    transition: all 0.4s;
    cursor: pointer;
}
.option:hover{
    background:linear-gradient(to right, var(--primary-color-lighter), var(--secondary-color-lighter));
    color: white;
}

.user-options{
    @include flex-h-center-spaceB;
    button {
        margin: 0 10px 0 10px;
    }
}

.globe-icon{
    color: var(--primary-color);
    font-size: 40px !important;
    margin: 0 10px 0 10px;
    cursor: pointer;

}


.search-bar:focus-within{
    // border: 2px solid black;
    // width: 50vw;
}
.search-bar{
    // margin-left:-240px;
    transition: all 0.4s;
    height: 70%;
    width: 50vw;
    // width: 20vw;
    border-radius: 10px;
    display: flex;
    // background: linear-gradient(to left, $primary-color, $secondary-color);
    padding: 4px;

    &__btn{

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: var(--primary-color);
        padding: 10px;
        
    }
    &__input{
        border: none;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        background: $cool-grey;
        font-size:18px;
    }

    &__input:focus{
        outline: none;
    }
}
.profile-icon{

    font-size:40px !important;
    color: var(--secondary-color);
    margin-right: 0.5rem;
    cursor: pointer;
}