.my-course{
    &__subtitles{
        height: 100%;
        display: grid;
        grid-template-columns: 80% 20%;
        &__content{
            // background-color: var(--cool-grey);
        }
        &__subtitles{
            border-left: 0.5px solid var(--primary-color);
            &__videos-list{
                // background-color: var(--cool-grey);

                &__video{
                    cursor: pointer;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    padding:5px;
                    background-color: var(--cool-grey);
                    border-radius: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                &__video-active{
                    cursor: pointer;

                    margin-top: 5px;
                    margin-bottom: 5px;
                    padding:5px;
                    background-color: var(--cool-grey);
                    border-radius: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: linear-gradient(45deg, $primary-color-linear, $primary-color);
                    color: white ;

                }
            }
        }
    }
}


.my-modal-custom-class{
    overflow-y: auto !important;
    border-radius: 10px;
    border: none;
    background: var(--cool-grey) !important;

}
.flexible-modal-mask{
    background: none !important;
    
}
.flexible-modal-drag-area{
    background: var(--primary-color)!important;
    height: 20px !important;
}


.override{
    border: 10px solid red;
    .css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop{
        background: none !important;
    }
}
.css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop{
    background: none !important;
}